<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <connectionStrings>
    <!--<add name="myConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.1.193)(PORT=1521))(CONNECT_DATA=(SID=vantestdb)));User Id=erpsyswsdtest;Password=doha123" />-->
    <!--<add name="myConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.1.10 )(PORT=1521))(CONNECT_DATA=(SID=consdb)));User Id=apps;Password=apps" />-->
<!--Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=time_Table;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False-->
    <add name="myConnectionString" connectionString="Data Source=EE-00000922\TEW_SQLEXPRESS;Initial Catalog=time_Table;Integrated Security=True;"/>
         <!--Data Source=DESKTOP-K5REU2C;Initial Catalog=time_Table;Integrated Security=True;User ID=sijo;Password=***********-->
  </connectionStrings>

  <appSettings>
    <add key="UName" value="" />
  </appSettings>

  <system.web>
    <sessionState timeout="5"></sessionState>
  </system.web>

  <system.web>
    <customErrors mode="Off" />
  </system.web>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>